.nav
{
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2 px solid red;

}
.navlinks
{
    color: rgb(54, 54, 54);
    text-decoration: none;
    margin: 1vmax 1.2vmax;
    font: 1em sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;

}
.navlinks:hover
{
    color: orangered;
    text-decoration: none;
}
.logo
{
    background-color: orangered;
    width: 55px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 23px;
    position: relative;
    right: 2vmax;
}
#logoimage
{
    transform:translateX(-55px);
}
#logoimage:hover
{
    transition: all 0.2s;
    transform:translateX(0px);
}
.searchbox
{
    position: relative;
    left: 5vmax;
}
.searchbox>input
{
    border: none;
    border-bottom: 1px solid rgb(54, 54, 54);
    width: 15vmax;
    font-size: 1.11vmax;
    outline: none;
    color: rgb(54, 54, 54);
    font-weight: 100;
}
.searchbox> svg
{
    fill: gray;
}