
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.PreNav{
    background-color:rgb(25, 22, 22);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}
.PreNav >div
{
    padding: 0px 4vmax;
    display: flex;
    align-items: center;
}
.PreNav >div svg
{
   fill: rgb(180,180, 180);
}
.PreNav >div svg:hover
{
    color: white;
}
.PreNav> div> span
{
    color: gray;
    font-size: 0.8vmax;
    font-weight: 100;
}
.PreNav> div> a
{
    color: gray;
    font-size: 0.9vmax;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    margin: 1vmax;
}
.PreNav> div> a:hover
{
    color: white;
}
